* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200vh;
}

.container {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #999;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.header {
  background-color: blue;
  color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.header h2 {
  margin: 0;
}

.form-container {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #999;
  padding: 30px;
  border-radius: 10px;
}

.form {
  text-align: center;
}

.input-field {
  margin: 5px;
}

.button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.search-input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.search-icon {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}
.table-container {
  margin: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 10px;
}
.deleteBtn {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}




